In [1]:
from shapely.geometry import Point
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import folium

### <font color = "blue"> Reading in the scooter data for the month of May

In [2]:
may_scooters_df = pd.read_csv('./data/may.csv')

In [3]:
# may_scooters_df.head()
may_scooters_df.shape

(20292503, 9)

In [4]:
# may_scooters_df['pubdatetime'] = pd.to_datetime(may_scooters_df['pubdatetime'])
# may_scooters_df.info()

In [5]:
# may_scooters_df['date'] = may_scooters_df['pubdatetime'].dt.date
# may_scooters_df['time'] = may_scooters_df['pubdatetime'].dt.time

In [6]:
# may_scooters_df.info()

In [7]:
# may_scooters_df = may_scooters_df.drop(columns = ['pubdatetime'])

In [8]:
# # may_scooters_df['time'] = pd.to_datetime(may_scooters_df['time'])
# may_scooters_df.info()

### <font color = "blue"> Reading in the scooter data for the month of June

In [9]:
june_scooters_df = pd.read_csv('./data/june.csv')
june_scooters_df.head()

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
0,2019-06-01 00:00:12,36.1202,-86.7534,Powered93627c35-0f62-5b81-a78d-75a4a92ecf47,Powered,90.0,scooter,0.06,Jump
1,2019-06-01 00:00:12,36.1630,-86.7765,Powered17715097-e8a0-5494-a5ab-9b625796607d,Powered,63.0,scooter,0.06,Jump
2,2019-06-01 00:00:12,36.1202,-86.7533,Powerede5cb95ae-b091-5a93-86fa-ededd946d0d7,Powered,77.0,scooter,0.06,Jump
3,2019-06-01 00:00:12,36.1201,-86.7530,Powered71fa5e4f-1e17-54c4-936d-330df38cc2fa,Powered,0.0,scooter,0.06,Jump
4,2019-06-01 00:00:12,36.1622,-86.7806,Poweredfa549dd6-40bb-5757-ac87-2c2528f2bc68,Powered,2.0,scooter,0.06,Jump

In [10]:
# june_scooters_df['pubdatetime'] = pd.to_datetime(june_scooters_df['pubdatetime'])
# # june_scooters_df['date'] = june_scooters_df['pubdatetime'].dt.date
# # june_scooters_df['time'] = june_scooters_df['pubdatetime'].dt.time
# # june_scooters_df = june_scooters_df.drop(columns = ['pubdatetime'])
# june_scooters_df.info()

### <font color = "blue"> Reading in the scooter data for the month of July

In [11]:
july_scooters_df = pd.read_csv('./data/july.csv')
july_scooters_df.head()

,pubdatetime,latitude,longitude,sumdid,sumdtype,chargelevel,sumdgroup,costpermin,companyname
0,2019-07-01 00:00:33.550000,36.156678,-86.809004,Powered635135,Powered,22.0,scooter,0.15,Lyft
1,2019-07-01 00:00:34.973000,36.145674,-86.794138,Powered790946,Powered,33.0,scooter,0.15,Lyft
2,2019-07-01 00:00:41.183000,36.179319,-86.751538,Powered570380,Powered,76.0,scooter,0.15,Lyft
3,2019-07-01 00:00:41.620000,36.152111,-86.803821,Powered240631,Powered,43.0,scooter,0.15,Lyft
4,2019-07-01 00:00:45.087000,36.149355,-86.797550,Powered970404,Powered,52.0,scooter,0.15,Lyft

In [12]:
# july_scooters_df['pubdatetime'] = pd.to_datetime(july_scooters_df['pubdatetime'])
# july_scooters_df['date'] = july_scooters_df['pubdatetime'].dt.date
# july_scooters_df['time'] = july_scooters_df['pubdatetime'].dt.time
# july_scooters_df = july_scooters_df.drop(columns = ['pubdatetime'])
# july_scooters_df.info()

## <font color = "blue">Removing the rows that contain the word "bicycle"

In [1]:
# may_scooters_df = may_scooters_df[~may_scooters_df.sumdgroup.str.contains("bicycle")]
# june_scooters_df = june_scooters_df[~june_scooters_df.sumdgroup.str.contains("bicycle")]
# july_scooters_df = july_scooters_df[~july_scooters_df.sumdgroup.str.contains("bicycle")]

## <font color = "blue"> Showing the logtime counts for each company to see the companies themselves and determine their level of activity

In [13]:
# may_scooters_df[['companyname', 'pubdatetime']].groupby('companyname').agg('count').sort_values(by ='pubdatetime', ascending = False)

In [14]:
# june_scooters_df[['companyname', 'pubdatetime']].groupby('companyname').agg('count').sort_values(by ='pubdatetime', ascending = False)

In [15]:
# july_scooters_df[['companyname', 'pubdatetime']].groupby('companyname').agg('count').sort_values(by ='pubdatetime', ascending = False)

## <font color = "blue"> Subsetting each month by company so that the data can be calculated in a smaller, more digestible format

### <font color = "blue"> May subsets

In [16]:
lime_may = may_scooters_df.loc[may_scooters_df.companyname == 'Lime']
bird_may = may_scooters_df.loc[may_scooters_df.companyname == 'Bird']
lyft_may = may_scooters_df.loc[may_scooters_df.companyname == 'Lyft']
jump_may = may_scooters_df.loc[may_scooters_df.companyname == 'Jump']
spin_may = may_scooters_df.loc[may_scooters_df.companyname == 'Spin']
gotcha_may = may_scooters_df.loc[may_scooters_df.companyname == 'Gotcha']
bolt_may = may_scooters_df.loc[may_scooters_df.companyname == 'Bolt']

### <font color = "blue"> June subsets

In [17]:
lime_june = june_scooters_df.loc[june_scooters_df.companyname == 'Lime']
bird_june = june_scooters_df.loc[june_scooters_df.companyname == 'Bird']
lyft_june = june_scooters_df.loc[june_scooters_df.companyname == 'Lyft']
jump_june = june_scooters_df.loc[june_scooters_df.companyname == 'Jump']
spin_june = june_scooters_df.loc[june_scooters_df.companyname == 'Spin']
gotcha_june = june_scooters_df.loc[june_scooters_df.companyname == 'Gotcha']
bolt_june = june_scooters_df.loc[june_scooters_df.companyname == 'Bolt']

### <font color = "blue"> July subsets

In [18]:
lime_july = july_scooters_df.loc[july_scooters_df.companyname == 'Lime']
bird_july = july_scooters_df.loc[july_scooters_df.companyname == 'Bird']
lyft_july = july_scooters_df.loc[july_scooters_df.companyname == 'Lyft']
jump_july = july_scooters_df.loc[july_scooters_df.companyname == 'Jump']
spin_july = july_scooters_df.loc[july_scooters_df.companyname == 'Spin']
gotcha_july = july_scooters_df.loc[july_scooters_df.companyname == 'Gotcha']
bolt_july = july_scooters_df.loc[july_scooters_df.companyname == 'Bolt']