In [1]:
from shapely.geometry import Point
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import folium
import numpy as np

from math import radians
from numpy import sin, cos, arcsin, sqrt
from haversine import haversine, Unit

from datetime import datetime
from datetime import timedelta

import seaborn as sns

import pprint

In [2]:
may = pd.read_pickle("data/may.pkl")
june = pd.read_pickle("data/june.pkl")
july = pd.read_pickle("data/july.pkl")

In [5]:
may.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 195840 entries, 0 to 224502
Data columns (total 9 columns):
companyName     195840 non-null object
sumdID          195840 non-null object
tripDuration    195840 non-null float64
tripDistance    195840 non-null float64
Month           195840 non-null int64
Day             195840 non-null int64
Hour            195840 non-null int64
start_geo       195840 non-null object
end_geo         195840 non-null object
dtypes: float64(2), int64(3), object(4)
memory usage: 14.9+ MB

In [6]:
all_months = pd.concat([may, june, july])

In [7]:
all_months.head(1)

,companyName,sumdID,tripDuration,tripDistance,Month,Day,Hour,start_geo,end_geo
0,Bird,Powered9EAJL,3.0,958.00528,5,1,0,POINT (-86.8036 36.1571),POINT (-86.80670000000001 36.1566)

In [8]:
all_months.head()

,companyName,sumdID,tripDuration,tripDistance,Month,Day,Hour,start_geo,end_geo
0,Bird,Powered9EAJL,3.0000,958.00528,5,1,0,POINT (-86.8036 36.1571),POINT (-86.80670000000001 36.1566)
1,Lyft,Powered296631,1.7156,1371.39112,5,1,0,POINT (-86.77896 36.15797),POINT (-86.77688999999999 36.16054)
2,Bird,Powered7S2UU,3.0000,2296.58800,5,1,0,POINT (-86.7818 36.1547),POINT (-86.7868 36.1565)
3,Bird,PoweredZIIVX,3.0000,1200.78744,5,1,0,POINT (-86.7795 36.1494),POINT (-86.7796 36.1531)
4,Bird,PoweredJ7MB3,2.0000,351.04988,5,1,0,POINT (-86.78660000000001 36.1778),POINT (-86.7876 36.1774)

In [9]:
pd.value_counts(all_months.sumdID)

Poweredb671ffe4-2bca-5880-98ec-d36f65aa11a2     1752
PoweredR3QXO6TL2HIAB                             369
PoweredZ6HF5P5HCJCT5                             351
PoweredRJ7YYJTHAR5N3                             336
PoweredWVIAXNCVDNOXP                             334
PoweredCL37MXJKM7RS5                             331
PoweredAK442HUNLJ36S                             327
Powered4ZPLZX2G755LW                             321
PoweredQQOLTIYF2NHPZ                             312
PoweredABMIE5RQM5MJ6                             305
PoweredIFJIBG3QHYXWB                             305
PoweredML52CTHQPHVSZ                             304
PoweredWZLC7D3TEMPS2                             304
PoweredZ654BJZPRPNXC                             303
PoweredME7IR625ZUUBP                             300
Powered5BW4GPYGBMUTL                             296
PoweredTVZN3QVMMQ5UK                             293
PoweredXZH7USFBU76DX                             292
PoweredSQWMJWTIGM6DS                             288
PoweredYNW4O7K6MWVLD                             285
PoweredTJKT7B3Y3JSDE                             283
PoweredPDGQQ2VKBRR6N                             283
PoweredJLTNICE7DQVPU                             282
PoweredJTXV42MMK5N2K                             282
PoweredVBP67J666ZNEH                             279
PoweredZ5IMPCBKO5P7E                             276
PoweredAKWXXWK3HB2WC                             276
PoweredQDVYGLDL6ZQDU                             274
PoweredEGRN7CFK6Q6K2                             273
Powered3ZPCHCTLNK2WR                             271
                                                ...
PoweredSWYPW                                       1
Powered6RTNK                                       1
Powered-6d5f2148-5553-ed1a-e151-346ab20c6733       1
PoweredH5738                                       1
Powered943be44e-ebf0-595f-bfc6-d9632b4d1376        1
PoweredP715R                                       1
Powered71b585a8-11c5-54bc-b097-413b74ec95e0        1
PoweredZ69UM                                       1
Powered-55c83dac-fbe3-5cdd-9bce-615988c03525       1
PoweredSILMHFH47KBX2                               1
PoweredW7MV5NKAW7EZN                               1
PoweredVZ7E3                                       1
Powered-f63b8989-6b47-bda7-522a-5b4feea22493       1
Powered14UIL                                       1
Powered-912e704f-b9f8-ae2c-09f2-6cf66ab468a8       1
Powered3F3VK                                       1
Powered-53e87a1c-c935-8ef1-aec5-91ea276cd5ab       1
Powered342003                                      1
Powered874462                                      1
PoweredJMSWT                                       1
Powered-0cf6fb25-5afa-09e8-004a-aefd4e320266       1
PoweredTLBL3BYW4WKCP                               1
Powered-dd368f22-dc98-0f73-297a-728d981fff99       1
PoweredYTT8X                                       1
PoweredJJWV4IOV7I3J5                               1
Powered2641d885-ccff-5371-a76a-21042d1f038d        1
Powered-27981186-27f4-1a19-23ae-f0623ce566ae       1
PoweredI53LW                                       1
PoweredS7BJL                                       1
Powered-52aafe89-a695-dfd2-1859-d14bc075d1b8       1
Name: sumdID, Length: 8745, dtype: int64

In [10]:
pd.value_counts(all_months.companyName)

Lime             208551
Lyft             110662
Bird              91677
SPIN              33162
JUMP               5960
Gotcha             2685
Bolt Mobility       593
Name: companyName, dtype: int64

In [11]:
sum(pd.value_counts(all_months.companyName))

453290

# Creating individual data frames for each company for each month

In [12]:
def companies(df):
    """This will import csv files, create datetime columns, filter data, remove unecessary columns, create a unique month df."""
    
    #establishing the capability to assign to a variable
    global lime_may
    global bird_may
    global lyft_may
    global jump_may
    global spin_may
    global gotcha_may
    global bolt_may
    
    global lime_june
    global bird_june
    global lyft_june
    global jump_june
    global spin_june
    global gotcha_june
    global bolt_june
    
    global lime_july
    global bird_july
    global lyft_july
    global jump_july
    global spin_july
    global gotcha_july
    global bolt_july

    #creating the MAY variable data frames
    lime_may = df.loc[(df.companyName == 'Lime') & (df.Month == 5)]
    bird_may = df.loc[(df.companyName == 'Bird') & (df.Month == 5)]
    lyft_may = df.loc[(df.companyName == 'Lyft') & (df.Month == 5)]
    jump_may = df.loc[(df.companyName == 'JUMP') & (df.Month == 5)]
    spin_may = df.loc[(df.companyName == 'SPIN') & (df.Month == 5)]
    gotcha_may = df.loc[(df.companyName == 'Gotcha') & (df.Month == 5)]
    bolt_may = df.loc[(df.companyName == 'Bolt Mobility') & (df.Month == 5)]
    
    #creating the June variable data frames
    lime_june = df.loc[(df.companyName == 'Lime') & (df.Month == 6)]
    bird_june = df.loc[(df.companyName == 'Bird') & (df.Month == 6)]
    lyft_june = df.loc[(df.companyName == 'Lyft') & (df.Month == 6)]
    jump_june = df.loc[(df.companyName == 'JUMP') & (df.Month == 6)]
    spin_june = df.loc[(df.companyName == 'SPIN') & (df.Month == 6)]
    gotcha_june = df.loc[(df.companyName == 'Gotcha') & (df.Month == 6)]
    bolt_june = df.loc[(df.companyName == 'Bolt Mobility') & (df.Month == 6)]
    
    #creating the MAY variable data frames
    lime_july = df.loc[(df.companyName == 'Lime') & (df.Month == 7)]
    bird_july = df.loc[(df.companyName == 'Bird') & (df.Month == 7)]
    lyft_july = df.loc[(df.companyName == 'Lyft') & (df.Month == 7)]
    jump_july = df.loc[(df.companyName == 'JUMP') & (df.Month == 7)]
    spin_july = df.loc[(df.companyName == 'SPIN') & (df.Month == 7)]
    gotcha_july = df.loc[(df.companyName == 'Gotcha') & (df.Month == 7)]
    bolt_july = df.loc[(df.companyName == 'Bolt Mobility') & (df.Month == 7)]

In [13]:
companies(all_months)

# Creating a function that will check each individual COMPANY data frame and calculate the average number of rides for the month as well as the number of scooters that averaged more than 3 rides per day

In [14]:
def company_counts(month, company_name, df):
    #company ride average and ride_counts per month
    
    if month == 'May':
        id_counts = pd.value_counts(df.sumdID)/31
    
    elif month == 'June':
        id_counts = pd.value_counts(df.sumdID)/30
    
    elif month == 'July':
        id_counts = pd.value_counts(df.sumdID)/31
    
    id_average = sum(id_counts) / len(id_counts)
    
    return pd.value_counts(id_counts > 3), print(company_name + "'s average rides per scooter during the month of " 
                                                 + month + " = ", id_average)

In [15]:
company_counts('July', 'Bird', bird_july)

Bird's average rides per scooter during the month of July =  0.28410536395730046

(False    2257
 Name: sumdID, dtype: int64, None)

### Defining and running company average per scooter

In [16]:
def company_average(month, df):
    #company ride average per month
    
    if month == 'May':
        id_counts = pd.value_counts(df.sumdID)/31
    
    elif month == 'June':
        id_counts = pd.value_counts(df.sumdID)/30
    
    elif month == 'July':
        id_counts = pd.value_counts(df.sumdID)/31
    
    id_average = sum(id_counts) / len(id_counts)
    
    return id_average

In [17]:
company_average('July', bird_july)

0.28410536395730046

In [18]:
def company_avg_pct(month, df):
    #global ride_counts
    
    if month == 'may':
        id_counts = pd.value_counts(df.sumdID)/31
    
    elif month == 'june':
        id_counts = pd.value_counts(df.sumdID)/30
    
    elif month == 'july':
        id_counts = pd.value_counts(df.sumdID)/31
    
    id_avg_pct = len(id_counts[id_counts > 3]) / len(id_counts) * 100
    
    return id_avg_pct

In [19]:
company_avg_pct('july', lime_july)

6.086956521739131

In [20]:
lime_pct = [(company_avg_pct('may', lime_may)), (company_avg_pct('june', lime_june)), (company_avg_pct('july', lime_july))]
lyft_pct = [(company_avg_pct('may', lyft_may)), (company_avg_pct('june', lyft_june)), (company_avg_pct('july', lyft_july))]
bird_pct = [(company_avg_pct('may', bird_may)), (company_avg_pct('june', bird_june)), (company_avg_pct('july', bird_july))]
spin_pct = [(company_avg_pct('may', spin_may)), (company_avg_pct('june', spin_june)), (company_avg_pct('july', spin_july))]
jump_pct = [(company_avg_pct('may', jump_may)), (company_avg_pct('june', jump_june)), (company_avg_pct('july', jump_july))]
gotcha_pct = [(company_avg_pct('may', gotcha_may)), (company_avg_pct('june', gotcha_june)), (company_avg_pct('july', gotcha_july))]
bolt_pct = [(company_avg_pct('may', bolt_may)), (company_avg_pct('june', bolt_june)), (company_avg_pct('july', bolt_july))]

In [21]:
def print_list(*args):        
    for arg in args:
        print(arg)

In [22]:
print_list("Lime ", *lime_pct, "Lyft ", *lyft_pct, "Bird", *bird_pct, "Spin", *spin_pct, "Jump", *jump_pct, "Gotcha", *gotcha_pct, "Bolt", *bolt_pct)

Lime
18.61057998725303
13.812544045102184
6.086956521739131
Lyft
0.0
0.0
0.0
Bird
0.0
0.0
0.0
Spin
0.0
0.0
0.0
Jump
100.0
0.6329113924050633
0.0
Gotcha
0.0
0.0
0.0
Bolt
0.0
0.0
0.0

# Creating functions that will calculate the average number of rides per scooter per month across all companies, and the number of scooters that gave at least 3 rides per day

In [23]:
def month_counts(month, df):
    #global ride_counts
    
    if month == 'may':
        id_counts = pd.value_counts(df.sumdID)/31
    
    elif month == 'june':
        id_counts = pd.value_counts(df.sumdID)/30
    
    elif month == 'july':
        id_counts = pd.value_counts(df.sumdID)/31
    
    id_average = sum(id_counts) / len(id_counts)
    
    return pd.value_counts(id_counts > 3), print(month + "'s average rides per scooter =", id_average)

In [24]:
month_counts('july', july)

july's average rides per scooter = 0.6024280530841339

(False    5143
 True       49
 Name: sumdID, dtype: int64, None)

### Defining and running function to determine average rides per month

In [25]:
def month_average(month, df):
    #global ride_counts
    
    if month == 'may':
        id_counts = pd.value_counts(df.sumdID)/31
    
    elif month == 'june':
        id_counts = pd.value_counts(df.sumdID)/30
    
    elif month == 'july':
        id_counts = pd.value_counts(df.sumdID)/31
    
    id_average = sum(id_counts) / len(id_counts)
    
    return id_average

In [31]:
month_avgs = {month_average('may', may), month_average('june', june), month_average('july', july)}

In [35]:
print(month_avgs)

{0.9573298007029275, 0.8382325289878111, 0.6024280530841339}

In [34]:
sum(month_avgs)/3

0.7993301275916241

### Defining and running function to calculate the percentage of scooters in a given month that averaged more than 2 rides per day

In [26]:
def month_avg_pct(month, df):
    #global ride_counts
    
    if month == 'may':
        id_counts = pd.value_counts(df.sumdID)/31
    
    elif month == 'june':
        id_counts = pd.value_counts(df.sumdID)/30
    
    elif month == 'july':
        id_counts = pd.value_counts(df.sumdID)/31
    
    id_avg_pct = len(id_counts[id_counts > 3]) / len(id_counts) * 100
    
    return id_avg_pct

In [27]:
month_avg_pct('may', may)

4.440066676769208

In [ ]:
may_pct = month_avg_pct('may', may)
june_pct = month_avg_pct('june', june)
july_pct = month_avg_pct('july', july)

In [ ]:
may_avg = month_average('may', may)
june_avg = month_average('june', june)
july_avg = month_average('july', july)

avg_list = [may_avg, june_avg, july_avg]

In [ ]:
plt.hist(avg_list, facecolor='blue', alpha=0.5)
plt.show()

In [ ]:
avg_list